@media screen and (min-width: 768px) {
    body {
    background-color: antiquewhite;
    }

    h1 {
    font-family: "popins", sans-serif;
    text-align: center;
    }

    h2 {
    font-family: "popins", sans-serif;
    text-align: center;
    }
    p {
    font-family: "rubik", sans-serif;
    }
    nav {
        width: 100%;
    }
}